<footer class="footer-main" style="position: fixed; bottom: 0; width: 100%; background-color: #333; color: #fff; padding: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{ site.title }} © {{ site.time | date: '%Y' }}
      </div>
      <div class="col-md-6 text-md-right">
        <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
          <i class="fa-solid fa-rss"></i>
        </a>
        <p class="extra" style="font-size: 9px; margin-bottom: 0;">
           Modified from template by
          <a class="link" href="https://github.com/sergiokopplin/indigo" style="color: #fff;">Kopplin</a>
        </p>
      </div>
    </div>
  </div>
</footer>
