<footer class="footer-main">
    </a>
    © {{ site.time | date: '%Y' }}

    <p class="extra">
        Modified from
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p>
</footer>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .content-wrapper {
        flex-grow: 1;
    }
    
    .footer-main {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #f5f5f5;
      text-align: center;
      padding: 20px;
      font-size: 14px;
    }
</style>
